name: validate 'Setup ocvalidate' action
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  setup-versions:
    name: setup versions
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        opencore: [0.8.0, 0.7.0]
        release: [true, false]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup ocvalidate with OpenCore ${{ matrix.opencore }}
        uses: ./
        with:
          opencore-version: ${{ matrix.opencore }}
          release: ${{ matrix.release }}

      - name: Verify ocvalidate
        run: |
          chmod +x ./__tests__/verify-version.sh
          ./__tests__/verify-version.sh ${{ matrix.opencore }}
        shell: bash

  setup-latest:
    name: setup latest version
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
        opencore: ['latest']
        release: [true, false]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup ocvalidate with OpenCore ${{ matrix.opencore }}
        uses: ./
        with:
          opencore-version: ${{ matrix.opencore }}
          release: ${{ matrix.release }}

      - name: Verify ocvalidate
        run: ocvalidate --version | grep 'OpenCore version'
        shell: bash
